header{
background-color : rgb(255,153,204);
text-align: center;
padding: 20px;}

nav {
overflow: hidden;
background-color: #001a33;
}

nav a{
  float : left;
  display : block;
  color : #f2f2f2;
  text-align:center;
  padding : 14px 16px;
  text-decoration : none;  }

nav a:hover{
  background-color: #0080ff;
  color : black;  }

img{
  display : block;
  margin-left: auto;
  margin-right: auto;
  width : 40%;
  border-radius: 10px;}

div.contact{
border : 1px solid #ddd;
border-radius:4px;
padding: 5px;
width : 150px;
float:left;}

div.contact:hover{
  box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
}

h1 {
  color : rgb(255,255,255);
  background-color: #003366}

h2{
  color : slateblue;
  margin-left : 20px;
  border-style : solid;
  border-width : 5px;
  font-size: 20px;
  font-weight: bold;
  }

h3{
  background-color: #80bfff;
  color : #ffffff;
  font-size: 30px;
  font-style: italic;
  margin-right: 70%;
}

body { background-color : #cce6ff;}

p{margin-top : 30px;
  margin-bottom : 30px;
  margin-right : 30px;
  margin-left :30px;
  font-size: 18px;
  font-family: serif;}
ul{
  list-style-type: circle;
  background-color: #0080ff;
  padding:10px}

ul li{
  font-size: 15px;
  font-weight: bold;
  }

ol{list-style-type:lower-latin;}

input{ width : 60px;
  padding: 12px 20px;
  margin:8px 0;
  box-sizing: border-box;
  background-color: lightgray;
  border-style:dashed;}
